* {
	box-sizing: border-box;
}

html {

	background-color: #FDFDFD;
}

body {
	font-size: 16px;
	font-family: "garamond-premier-pro-caption";
	font-weight: 100;
	color: #6F6F6F;

	img {
		width: 100%;
	}

}

h1 {
	font-size: 2.5em;
	line-height: 30px;
	font-weight: 400;
	padding-bottom: 10px;


}


h2 {
	font-size: 1.2em;
	letter-spacing: 1px;
}

h3 {

}



h5 {
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 100;
}

h6 {
	font-size: 0.6em;
	letter-spacing: 0.4px;
	font-weight: 400;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: justify;
}

a {
	text-decoration: none;
	color: #1A1A1A;
}

p {
	font-size: 0.95em;
	padding-bottom: 10px;
	line-height: 1.4em;
	letter-spacing: 0.1px;
	text-align: justify;
	font-weight: 400;
	
}


em {
	font-style: italic;
	font-weight: 100;
}

a:hover {
	color: rgba(145,145,145,1);
} 


span {
	font-size: 0.8em;
	height: 3em;

}

iframe + p {
	margin-top:30px;
}





