<div id="sidebar">
		<ul class="proyect-nav">
			<div class="unity" class="icon">
		  		<a href="/"><h3><i class="fa fa-th"></i></h3></a>
		  	</div>
		</ul>

	 <ul class="proyect-nav">
   <ul class="proyects">
  			  <div class="unity" class="about" class="scroll-to-wrapper">
			        <li><a href="#about" class="scroll-to continue fast-forward">
			        Hugo Lugo Proyectos</a></li>
			    </div>
       <div class="unity" class="ensayo-para-reconstruir" class="scroll-to-wrapper">
			        <li><a href="#ensayo-para-reconstruir" class="scroll-to continue fast-forward">
			        Ensayo para reconstruir<br>un monumento</a></li>
			    </div>
			    <div class="unity" class="reconstruccion-sobre-la-distancia" class="scroll-to-wrapper">
			        <li><a href="#reconstruccion-sobre-la-distancia" class="scroll-to continue fast-forward">
			        Reconstrucción sobre<br>la distancia</a></li>
			    </div>
			    <div class="unity" class="unity" class="scroll-to-wrapper">
			        <li><a href="#montaña" class="scroll-to continue fast-forward">
			        Montaña</a></li>
			    </div>
			    <div class="unity" class="decepcion" class="scroll-to-wrapper">
			        <li><a href="#decepcion" class="scroll-to continue fast-forward">
			        Decepción</a></li>
			    </div>
	       
			    <div class="unity" class="velar-el-tiempo" class="scroll-to-wrapper">
			        <li><a href="#velar-el-tiempo" class="scroll-to continue fast-forward">
			        Velar el tiempo</a></li>
			    </div>
			    <div class="unity" class="revelar-la-memoria" class="scroll-to-wrapper">
			        <li><a href="#revelar-la-memoria" class="scroll-to continue fast-forward">
			        Revelar la memoria</a></li>
			    </div>
			    <div class="unity" class="retorno" class="scroll-to-wrapper">
			        <li><a href="#retorno" class="scroll-to continue fast-forward">
			        Retorno</a></li>
			    </div>
			    <div class="unity" class="acerca-del-universo" class="scroll-to-wrapper">
			        <li><a href="#acerca-del-universo" class="scroll-to continue fast-forward">
			        Acerca del universo</a></li>
			    </div>
			    
			    <div class="unity" class="encontrar-la-nocion" class="scroll-to-wrapper">
			        <li><a href="#encontrar-la-nocion" class="scroll-to continue fast-forward">
			        Encontrar la noción</a></li>
			    </div>
			    <div class="unity" class="recordar-el-trayecto" class="scroll-to-wrapper">
			        <li><a href="#recordar-el-trayecto" class="scroll-to continue fast-forward">
			        Recordar el trayecto</a></li>
			    </div> 
  </ul>
 </ul>
</div>


  <nav role="navigation" id="sidebar">
					 <ul class="proyect-nav">
				   <ul class="proyects">
				  			  <div class="unity" class="about" class="scroll-to-wrapper">
							        <li><a href="#about" class="scroll-to continue fast-forward">
							        Hugo Lugo Proyectos</a></li>
							    </div>
				       <div class="unity" class="ensayo-para-reconstruir" class="scroll-to-wrapper">
							        <li><a href="#ensayo-para-reconstruir" class="scroll-to continue fast-forward">
							        Ensayo para reconstruir<br>un monumento</a></li>
							    </div>
							    <div class="unity" class="reconstruccion-sobre-la-distancia" class="scroll-to-wrapper">
							        <li><a href="#reconstruccion-sobre-la-distancia" class="scroll-to continue fast-forward">
							        Reconstrucción sobre<br>la distancia</a></li>
							    </div>
							    <div class="unity" class="unity" class="scroll-to-wrapper">
							        <li><a href="#montaña" class="scroll-to continue fast-forward">
							        Montaña</a></li>
							    </div>
							    <div class="unity" class="decepcion" class="scroll-to-wrapper">
							        <li><a href="#decepcion" class="scroll-to continue fast-forward">
							        Decepción</a></li>
							    </div>
					       
							    <div class="unity" class="velar-el-tiempo" class="scroll-to-wrapper">
							        <li><a href="#velar-el-tiempo" class="scroll-to continue fast-forward">
							        Velar el tiempo</a></li>
							    </div>
							    <div class="unity" class="revelar-la-memoria" class="scroll-to-wrapper">
							        <li><a href="#revelar-la-memoria" class="scroll-to continue fast-forward">
							        Revelar la memoria</a></li>
							    </div>
							    <div class="unity" class="retorno" class="scroll-to-wrapper">
							        <li><a href="#retorno" class="scroll-to continue fast-forward">
							        Retorno</a></li>
							    </div>
							    <div class="unity" class="acerca-del-universo" class="scroll-to-wrapper">
							        <li><a href="#acerca-del-universo" class="scroll-to continue fast-forward">
							        Acerca del universo</a></li>
							    </div>
							    
							    <div class="unity" class="encontrar-la-nocion" class="scroll-to-wrapper">
							        <li><a href="#encontrar-la-nocion" class="scroll-to continue fast-forward">
							        Encontrar la noción</a></li>
							    </div>
							    <div class="unity" class="recordar-el-trayecto" class="scroll-to-wrapper">
							        <li><a href="#recordar-el-trayecto" class="scroll-to continue fast-forward">
							        Recordar el trayecto</a></li>
							    </div> 
				  </ul>
				 </ul>
	</nav>  
  
  
  <header id="top" class="responsive-fonts">
	<h1>Navigation highlighting using waypoints</h1>
	<p>marking sections and articles in view (click or scroll to test)<p>
  </header>  
  
  <aside>
	<a href="http://imakewebthings.com/jquery-waypoints">Build using jquery-waypoints</a>
  </aside>

  <main>
	  <section id="food">
		<article id="A1"></article>
		<article id="A2"></article>
		<article id="A3"></article>
		<article id="A4"></article>
	  </section>  
	    
	  <section id="fashion">
	    <article id="B1"></article>
	    <article id="B2"></article>
	    <article id="B3"></article>
	    <article id="B4"></article>
	    <article id="B5"></article>
	    <article id="B6"></article>
	    <article id="B7"></article>
	  </section> 
	    
	  <section id="abstract">
	    <article id="C1"></article>
	    <article id="C2"></article>
	    <article id="C3"></article>
	  </section> 
    
  </main>

  <footer id="bot">
    <p>Footer stuff</p>
  </footer>
</div>