<!-- 1 -->
<div class="columns columns-guttered">
  <div class="column column-40">
    <div class="thumbnail">
          <a href="/proyects#revelar-la-memoria">
            <img src="imagenes/index/revelar-la-memoria-1.jpg" />
            <div class="cover">
              <h5>Revelar la memoria</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#ensayo-para-reconstruir">
            <img src="imagenes/index/ensayo-para-reconstruir-1.jpg" />
            <div class="cover">
              <h5>Ensayo para reconstruir un monumento</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#acerca-del-universo">
            <img src="imagenes/index/acerca-del-universo.jpg" />
            <div class="cover">
              <h5>Acerca del universo</h5>
            </div>
          </a>
        </div>
        
        <div class="thumbnail">
          <a href="/proyects#reconstruccion-sobre-la-distancia">
            <img src="imagenes/index/ensayo-para-reconstruir-5.jpg" />
            <div class="cover">
              <h5>Ensayo para reconstruir un monumento</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#reconstruccion-sobre-la-distancia">
            <img src="imagenes/index/reconstruccion-sobre-la-distancia-2.jpg" />
            <div class="cover">
              <h5>Reconstrucción sobre la distancia</h5>
            </div>
          </a>
        </div>
  </div>

  <!-- 2 -->
  <div class="column column-30">
        <div class="thumbnail">
          <a href="/proyects#recordar-el-trayecto">
            <img src="imagenes/index/recordar-el-trayecto.jpg" />
            <div class="cover">
              <h5>Recordar el trayecto</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#reconstruccion-sobre-la-distancia">
            <img src="imagenes/index/reconstruccion-sobre-la-distancia-1.jpg" />
            <div class="cover">
              <h5>Reconstrucción sobre la distancia</h5>
            </div>
          </a>
        </div>
      
        <div class="thumbnail">
          <a href="/proyects#velar-el-tiempo">
            <img src="imagenes/index/velar-el-tiempo.jpg" />
            <div class="cover">
              <h5>Velar el tiempo</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#decepcion">
            <img src="imagenes/index/decepcion.jpg" />
            <div class="cover">
              <h5>Decepción</h5>
            </div>
          </a>
        </div>
        
        <div class="thumbnail">
          <a href="/proyects#ensayo-para-reconstruir">
            <img src="imagenes/index/ensayo-para-reconstruir-2.jpg" />
            <div class="cover">
              <h5>Ensayo para reconstruir un monumento</h5>
            </div>
          </a>
        </div> 
  </div>  
      


  <!-- 3 -->
  <div class="column column-30">
        <div class="thumbnail">
          <a href="/proyects#encontrar-la-nocion">
            <img src="imagenes/index/encontrar-la-nocion.jpg" />
            <div class="cover">
              <h5>Encontrar la noción</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#montana">
            <img src="imagenes/index/montana.jpg" />
            <div class="cover">
              <h5>Montaña</h5>
            </div>
          </a>
        </div>
        
        <div class="thumbnail">
          <a href="/proyects#retorno">
            <img src="imagenes/index/retorno.jpg" />
            <div class="cover">
              <h5>Retorno</h5>
            </div>
          </a>
        </div>
        <div class="thumbnail">
          <a href="/proyects#reconstruccion-sobre-la-distancia">
            <img src="imagenes/index/reconstruccion-sobre-la-distancia-3.jpg" />
            <div class="cover">
              <h5>Reconstrucción sobre la distancia</h5>
            </div>
          </a>
        </div>        
  </div>
</div>


<div class="section-footer">
  <a target="Alecamp" href="http://alecamp.mx/"><img src="imagenes/logo-advert.png"></a>
</div>

